<h1 id="ingredients-matcher"><strong>Ingredients Matcher</strong></h1>



<h3 id="what-is-ingredients-matcher">What is Ingredients Matcher?</h3>

<p>Ingredients Matcher™ is a system for shoppers to be able to quickly look <br>
 at what they can cook with a foodstuff product and what ingredients they would <br>
 need, on the fly.</p>



<h3 id="how-does-it-work">How does it work?</h3>

<p>In the finished version, we would like for the program to be able to scan <br>
 a barcode through a webcam, but currently we only have the interpreter, which <br>
 requires you to have an image called TestingBarcode.png (TestingBarcode.bmp <br>
 was also tested) with a picture of a barcode.</p>



<h3 id="where-does-it-store-the-information">Where does it store the information?</h3>

<p>Ingredients Matcher™ has a special file aptly called “MasterFile.txt” in the  <br>
 C:\IngredientsMatcher\ directory which contains all the information required  <br>
 for the program to function.</p>



<h3 id="what-does-the-file-look-like">What does the file look like</h3>

<p>The syntax is:</p>

<p>Name of product:barcodenumber:tags,product,has:priceinore:dish,ingredient belongs,to</p>



<h3 id="what-if-i-mess-up-the-syntax">What if I mess up the syntax?</h3>

<p>Something among the lines of Syntax error in line 16 will show up when you try <br>
 running the program.</p>



<h1 id="what-needs-to-be-done"><strong>What needs to be done</strong></h1>



<h3 id="webcam-capture">Webcam capture</h3>

<p>Who knows how this works. Magnets?! <br>
 No, ZXing.NET <em>has</em> a code example, use it to figure it out. <br>
 <a href="https://zxingnet.codeplex.com/SourceControl/latest#trunk/Clients/WindowsFormsDemo/WebCam.cs">https://zxingnet.codeplex.com/SourceControl/latest#trunk/Clients/WindowsFormsDemo/WebCam.cs</a></p>



<h3 id="making-the-program-more-modular">Making the program more modular</h3>

<p>We were kind of lazy with the design, but after Lenes domain model <del>lecture</del> destruction, it apparently became clear that the way we handle the masterfile (specifically storing the data from it into objects) needs to be more modular.</p>



<h3 id="what-the-hell-does-that-mean">What the hell does that mean?</h3>

<p>Separate Dish object that has two properties: a name and a list of ingredients. This way, to populate a dish list from a ingredient name, you have to look through every dishs list of ingredients and show the ones which contain that member.</p>